.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.Landing .ui.button {
  margin-top: 4rem;
}
/* Semanticui override */
.ui.modal.visble {
  width: 70%;
}
.ui.modal .header {
  text-align: center;
}
.ui.modal .ui.reply.form {
  width: 60% !important;
  margin: 5rem auto;
}
